<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>92375640315-253gljcvg7s2n9bpouu756b5o1jkm9mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92375640315-253gljcvg7s2n9bpouu756b5o1jkm9mk</string>
	<key>API_KEY</key>
	<string>AIzaSyA3HxJPXk4Y2By-AW_cwGwROmBmNT6RNMk</string>
	<key>GCM_SENDER_ID</key>
	<string>92375640315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nfayazov.SimpleFinance</string>
	<key>PROJECT_ID</key>
	<string>simple-finance-b8edc</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-finance-b8edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:92375640315:ios:36423f931f16f464</string>
	<key>DATABASE_URL</key>
	<string>https://simple-finance-b8edc.firebaseio.com</string>
</dict>
</plist>